@import 'Theme.scss';
@import url('https://fonts.cdnfonts.com/css/snell-roundhand');

:root {
    background-image: url("https://i.imgur.com/0UCQH0S.png");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 20% 60%;
    /*30% 80%*/
    /*Nice corner flower: https://i.pinimg.com/originals/ad/9c/40/ad9c402ca2a5dbac1ce4ead1e5f0e1f9.png
    Pink Wallpaper corner: https://thumbnails.production.thenounproject.com/e-3LvRIVysDS343teZDVResBuHA=/fit-in/1000x1000/photos.production.thenounproject.com/photos/E3DE3D3A-341F-4629-A1ED-BCAF80AF7F0B.jpg
    */
    font-size: 16px;
    font-family: 'Cormorant Garamond', serif;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;

    @include set-theme-vars(light);

    background-color: theme-color-var(base);
    color: theme-color-var(primary);

    *::selection {
        background: theme-color-var(selection);
    }

    .is-color-primary {
        color: theme-color-var(primary);
    }

    .is-color-secondary {
        color: theme-color-var(secondary);
    }

    .is-color-tertiary {
        color: theme-color-var(tertiary);
    }
}

@media only screen and (max-device-width: 100px) {
    :root{
    background-image: url("https://i.imgur.com/0UCQH0S.png");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 30% 40%;
    }
  }

  
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    min-width: 280px;
    max-width: 960px;
    margin: 0 auto;
    padding: 1.5rem;
}

.escort-card{
    background-color: theme-color-var(base);
}

h1,h2,h3{
    font-family: 'Snell Roundhand', sans-serif !important
}

